
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
p{
color:pink;
font-family:monospace;

}

h1{
font-family:Lobster;
    text-align:center;
    font-size:large;
}

body{
    text-align:center;
}
  
#left{
    float:left;
}

#right{
    float:right;
}



ul {
    
} 

li {
    
}

a {
    color: rgb(28, 33, 104);
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    vertical-align: bottom;
  }

.silver-block{
    background-color:silver;
    z-index:1;
    margin:auto;
}

.cyan-block{
    background-color:#00FFFF;
    z-index:2;
    margin:auto;
}

.orange-block{
    background-color:orange;
    
    margin:auto;
}

.casual-block{
    background-color:rgba(0,0,0,0.1);
   
    margin:auto;
}

.casual-block2{
    background-color:rgba(100,0,0,0.2);
    z-index:3;
    margin:auto;
}
