
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
p{

font-family:monospace;

}

h1{
    font-family:Lobster;
    text-align:center;
    font-size:larger;
    color:white;
    padding:2.4em;
   
}

body{
    font-family:Lobster;
    background: linear-gradient(90deg, red, yellow, rgb(204, 204, 255));
}

button{
    background-color:yellow;
}

div{
    height:100px;
    weight:100px;
    margin:auto;
}

#left{
    float:left;
}

#right{
    float:right;
}



ul {
    text-align:center;
    font-family:monospace;
    background-color:rgba(0,0,0,0.3);
} 

li {
    text-align:center;
    backgroud-color:teal;
    display:inline;
}

a {
    color: rgb(28, 33, 104);
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    vertical-align: bottom;
  }

.silver-block{
    background-color:silver;
    boder:thin silver solid;
    z-index:1;
    margin:auto;
}


.cyan-block{
    background-color:hsl(180,100%,80%);
    z-index:2;
     
    
}

.orange-block{
    background-color:hsl(100,100%,80%);
   
  
}

.casual-block{
    background-color:hsl(360,100%,80%);
    
}

.teal-block{
    background-color:hsl(240,100%,80%);
   z-index:1;
}
