
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
p{
backgroud-color:pink;
font-family:monospace;

}

h1{
font-family:Lobster;
    text-align:center;
    font-size:large;
    color:rgb(100,50,200);
}

body{
    
}
 
div{
    height:100px;
    weight:100px;
    margin:auto;
}

#left{
    float:left;
}

#right{
    float:right;
}



ul {
    font-family:monospace;
    background-color:rgba(0,0,0,0.3);
} 

li {
    backgroud-color:pink;
}

a {
    color: rgb(28, 33, 104);
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    vertical-align: bottom;
  }

.silver-block{
    background-color:silver;
    boder:thin silver solid;
    z-index:1;
    margin:auto;
}


.cyan-block{
    background-color:#00FFF0;
    z-index:2;
     
    
}

.orange-block{
    background-color:#FFF7F0;
   
  
}

.casual-block{
    background-color:rgba(0,0,50,0.1);
    
}

.casual-block2{
    background-color:rgba(100,100,0,0.2);
   z-index:1;
}
